@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: Arimo, sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* Common styling */
.grey {
  color: #666;
}

.cap {
  text-transform: capitalize;
}

.up {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 57.70%;
  margin: 0 auto;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-cap {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}

/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  z-index: 1;
}

header .wrapper {
  padding: 17px 0;
  display: flex;
  border-bottom: 1px solid #686861;
  justify-content: space-between;
}

h1 {
  flex-basis: 30%;
  order: 1;
}

.hamburger {
  display: none;
  order: 2;
}

/*styling for nav start here*/
nav {
  display: flex;
  flex-basis: 57%;
  justify-content: space-between;
  order: 3;
}

/*styling for navlist start here*/
.navlist {
  display: flex;
  flex-basis: 78%;
  justify-content: space-between;
}

.navlist :nth-child(3)::after {
  content: "\f41f";
  color: #FFF;
  font-size: 9px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
  transition: color 0.5s ease;
}

.navlist :nth-child(3):hover::after {
  color: #D3930F;
}

.navlist li a {
  color: #FFF;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.5s ease;
}

.navlist li a:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid #D3930F;
  color: #D3930F;

}

.sub-page-list {
  position: absolute;
  display: none;
  background-color: #666;
  flex-direction: column;
  justify-content: space-between;
}

/*styling for navlist end here*/
/*styling for social site list start here*/
.social-site-list {
  display: flex;
  flex-basis: 16%;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.social-site-list li {
  width: 33.33%;
  position: relative;
}

.social-site-list a {
  position: absolute;
  text-indent: -9999px;
}

.social-site-list :first-child ::before {
  position: absolute;
  top: -5px;
  content: "\f082";
  color: #FFF;
  font-family: "Font Awesome 5 Brands";
  text-indent: 9999px;
}

.social-site-list :nth-child(2) ::before {
  position: absolute;
  top: -5px;
  content: "\f099";
  color: #FFF;
  font-family: "Font Awesome 5 Brands";
  text-indent: 9999px;
}

.social-site-list :last-child ::before {
  position: absolute;
  top: -5px;
  content: "\f16d";
  color: #FFF;
  font-family: "Font Awesome 5 Brands";
  text-indent: 9999px;
}

/*styling for social site list end here*/
/*styling for nav end here*/
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*styling for banner section start here*/
.banner-section .wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
}

.slider {
  max-height: 630px;
  top: 0;
  overflow: hidden;
}

.slider :not(:first-child) {
  display: none;
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: center;
}

.banner-content h2 {
  width: 100%;
  padding-top: 155px;
  color: #FFF;
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 3px;
}

.line-break::before {
  content: "\a";
  white-space: pre;
}

.banner-btns {
  width: 17%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.banner-btns a {
  padding: 10px 9%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.banner-content ul {
  width: 43%;
  padding-top: 105px;
  display: flex;
  justify-content: space-between;
}

.banner-content ul li {
  width: 20%;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.banner-content ul li span {
  padding-right: 15%;
  font-size: 23px;
}

.dot-list {
  width: 100%;
  padding-top: 70px;
  text-align: end;
}

.dot-list a {
  margin-right: 1%;
  color: transparent;
  text-indent: -30px;
}

.dot-list a::before {
  content: "\f5f1";
  color: #FFF;
  font-size: 7px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}

/*styling for banner section end here*/
/*styling for agencies section start here*/
.agencies {
  padding-top: 75px;
  padding-bottom: 90px;
  background-color: #F7F7F7;
}

.agencies-article {
  padding-bottom: 40px;
  display: flex;
  border-bottom: 2px solid #E6E6E6;
  justify-content: space-between;
}

.agencies-article figure img {
  max-width: 425px;
  max-height: 285px;
  border-radius: 3px;
}

.agencies-info {
  padding-left: 3%;
  flex-basis: 50%;
}

.agencies-info h4 {
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 30px;
}

.agencies-info p {
  margin-top: 20px;
  color: #AD9C94;
  font-size: 12px;
  line-height: 20px;
}

.agencies-info a {
  margin-top: 30px;
  padding: 10px 5%;
  background-color: #FEAD00;
  border: 1px solid #FEAD00;
  border-radius: 4px;
  color: #2D451E;
  font-size: 15px;
  text-transform: capitalize;
}

.agencies-list {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
}

.agencies-list li {
  flex-basis: 30%;
}

.agencies-list h5 {
  display: flex;
  align-items: flex-start;
  color: #1D2531;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

.agencies-list p {
  padding-left: 20%;
  color: #A08B8F;
  font-size: 15px;
  line-height: 20px;
}

.agencies-list li h5::before {
  padding-right: 10%;
  content: "\f5f1";
  color: #FFC102;
  font-size: 25px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}

/*styling for agencies section end here*/

/*styling for blog section start here*/
.blog .wrapper {
  max-width: 100%;
  width: 100%;
}

.blog h3 {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.blog-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.blog-list li {
  display: flex;
  flex-basis: 50%;
}

.blog-list li figure {
  flex-basis: 50%;
  order: 1;
}

.blog-list li div {
  padding: 40px;
  background-color: #1B1F24;
  flex-basis: 50%;
  order: 2;
}

.blog-info span {
  color: #FEAD00;
  font-size: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

.blog-info h4 {
  padding-top: 10px;
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.blog-info p {
  padding-top: 10px;
  color: #EAEAF0;
  font-size: 12px;
  line-height: 20px;
}

.blog-list :nth-child(3) figure {
  order: 2;
}

.blog-list :nth-child(3) div {
  order: 1;
}

.blog-list :last-child figure {
  order: 2;
}

.blog-list :last-child div {
  order: 1;
}

/*styling for blog section end here*/

/*styling for testimonials section start here*/
.testimonials {
  padding: 80px 0;
  background-image: url("/assets/Images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.5);
}

.testimonials h3 {
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.testimonial-list {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.testimonial-list li {
  padding: 40px;
  background-color: #FFF;
  flex-basis: 22%;
}

.testimonial-list li p {
  font-size: 12px;
  color: #A9A19A;
  line-height: 17px;
}

.testimonial-list p span::before {
  padding-right: 5%;
  content: "\f10d";
  color: #DEDEDE;
  font-size: 20px;
  font-family: "Font Awesome 5 Solid";
}

.person-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.person-info figure {
  flex-basis: 30%;
}

.person-info figure img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.person-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.person-name :first-child {
  color: #452E55;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.person-name :last-child {
  margin-top: 3px;
  color: #B98F7E;
  font-size: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

/*styling for testimonials section end here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
/*upper footer styling start here*/
footer {
  background-color: #1B1B1B;
  color: #FFF;
}

.upper-footer {
  padding: 80px 0 60px 0;
  border-bottom: 1px solid #333;
}

.upper-footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.upper-footer .wrapper div {
  width: 33.33%;
}

.infinitude h4 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.infinitude p {
  margin-top: 20px;
  color: #787878;
  font-size: 13px;
  line-height: 20px;
}

.infinitude span {
  margin-top: 10px;
  display: inline-block;
  color: #787878;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.infinitude .yellow-span {
  color: #FCA800;
}

.uf-social-list {
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.uf-social-list li {
  position: relative;
}

.uf-social-list a {
  position: absolute;
  color: #FFF;
  text-indent: -999px;
}

.uf-social-list :first-child ::before {
  position: absolute;
  content: "\f39e";
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 999px;
}

.uf-social-list :nth-child(2) ::before {
  position: absolute;
  content: "\f099";
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 999px;
}

.uf-social-list :nth-child(3) ::before {
  position: absolute;
  content: "\f434";
  font-size: 15px;
  font-family: "Font Awesome 5 Solid";
  text-indent: 999px;
}

.uf-social-list :nth-child(4) ::before {
  position: absolute;
  content: "\f0d2";
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 999px;
}

.uf-social-list :last-child ::before {
  position: absolute;
  content: "\f0d5";
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 999px;
}

.quick-links h5 {
  padding-left: 5%;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.upper-footer .wrapper :nth-child(2) div {
  width: 80%;
}

.quick-lists {
  padding-left: 5%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.quick-lists ul {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.quick-lists ul a {
  width: 100%;
  color: #787878;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.quick-lists ul a::before {
  content: "\f101";
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
}

.uf-contact-info h5 {
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.upper-footer .wrapper .uf-contact-info div {
  width: 100%;
  color: #787878;
  font-size: 12px;
}

.ci-address {
  margin-top: 30px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.phone a,
.tele-phone a,
.mail a {
  margin-top: 15px;
  color: #787878;
}

.ci-address::before {
  padding-right: 1%;
  content: "\f3c5";
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
}

.phone::before {
  padding-right: 1%;
  content: "\f095";
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
}

.tele-phone::before {
  padding-right: 1%;
  content: "\f67d";
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
}

.mail::before {
  padding-right: 1%;
  content: "\f0e0";
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
}

/*upper footer styling end here*/

/*lower footer styling start here*/
.lf-content {
  padding: 25px 0 30px 0;
  display: flex;
  position: relative;
  color: #DDECE8;
  justify-content: space-between;
}

.lf-content p,
a {
  color: #DDECE8;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.lf-content a {
  position: absolute;
  text-indent: -9999px;
}

.lf-content a::before {
  position: absolute;
  content: "\f102";
  font-size: 15px;
  font-family: "Font Awesome 5 Solid";
  text-indent: 9999px;
}

/*lower footer styling end here*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}