@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arimo, sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* Common styling */
.grey {
  color: #666;
}

.cap {
  text-transform: capitalize;
}

.up {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.transition {
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 57.70%;
  margin: 0 auto;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-cap {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}

/*=================================
  Header styling starts here
=================================*/
/*styling for header start here*/
header {
  width: 100%;
  position: absolute;
  z-index: 1;
}

header .wrapper {
  padding: 15px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #686861;
  justify-content: space-between;
}
/*styling for h1 start here*/
h1 {
  flex-basis: 40%;
  order: 1;
}

h1 img {
  width: 80%;
}
/*styling for h1 end here*/
/*styling for hamburger start here*/
.hamburger {
  display: none;
  order: 2;
}
/*styling for hamburger end here*/
/*styling for nav-content start here*/
.nav-content {
  display: flex;
  justify-content: space-between;
  flex-basis: 60%;
  order: 3;
}

nav {
  width: 100%;
  display: flex;
  flex-basis: 80%;
}

.navlist {
  margin: 0 5%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.navlist a {
  color: #F7F8F7;
  font-size: 9px;
  text-transform: uppercase;
  transition: color 0.5s ease,border-bottom 0.5s ease,transform 0.5s ease;
}

.navlist a:hover {
  color: #F59908;
  transform: scale(1.2,1.2);
  border-bottom: 1px solid #F59908;
}

.navlist .active-tab, .active-tab {
  color: #F59908;
}

.pages:hover+.sub-page-list {
  display: flex;
}
/*styling for sub page list start here*/
.sub-page-list {
  width: 100%;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  backdrop-filter: blur(3px);
  flex-direction: column;
  position: absolute;
}
/*styling for sub page list end here*/
/*styling for social site list start here*/
.social-site-list {
  display: flex;
  flex-basis: 20%;
}

.social-site-list li {
  margin: 0 9%;
}

.sbrand {
  text-indent: -9999px;
  transition: color 0.5s ease, border-bottom 0.5s ease,transform 0.5s ease;
}

.sbrand:hover {
  color: #F59908;
  transform: scale(1.2, 1.2);
  border-bottom: 1px solid #F59908;
}

.fb::before {
  margin-right: 5%;
  content: "\f082";
  float: right;
  font-family: "Font Awesome 5 Brands";
  text-indent:0;
}

.tweet::before {
  margin-right: 5%;
  content: "\f099";
  float: right;
  font-family: "Font Awesome 5 Brands";
  text-indent:0;
}

.insta::before {
  margin-right: 5%;
  content: "\f16d";
  float: right;
  font-family: "Font Awesome 5 Brands";
  text-indent:0;
}
/*styling for social site list end here*/
/*styling for nav-content end here*/
/*styling for header end here*/
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*styling for banner section start here*/
.banner-section .wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/*styling for slider start here*/
.slider {
  position: absolute;
  overflow: hidden;
}

.slider li {
  background-color: rgb(0, 0, 0, 0.5);
}

.slider img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  object-position:center;
  z-index: -1;
}

.slider :not(:first-child) {
  display: none;
}
/*styling for slider end here*/
/*styling for banner content start here*/
.banner-content {
  margin: 155px 0 15px 0;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.banner-content h2 {
  width: 100%;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  line-height: 50px;
  letter-spacing: 5px;
}

.line-break::before {
  content: "\a";
  white-space: pre;
}

.banner-btns {
  width: 100%;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-btns li {
  width: 8.7%;
}

.banner-btns a {
  padding: 9px 18%;
  background: transparent;
  border: 2px solid #D9EBDF;
  border-radius: 3px;
  color: #D9EBDF;
  font-size: 10px;
  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.btns-a:hover,.banner-btns .active-btn {
  background-color: #FEAD00;
  border: 2px solid #FEAD00;
  color: #402C1B;
}

.banner-projects {
  width: 100%;
  margin: 60px 0 42px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-projects li {
  width: 9%;
  margin: 0 4%;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

.text-project {
  margin-right: 15%;
  font-size: 20px;
}
/*styling for dot list start here*/
.dot-list {
  width: 100%;
  margin: 15px 0;
  text-align: end;
}

.dot-list a {
  margin-right: 0.8%;
  color: transparent;
  text-indent: -30px;
}

.dot-list a::before {
  content: "\f5f1";
  color: #FFF;
  font-size: 7px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}
/*styling for dot list end here*/
/*styling for banner content end here*/
/*styling for banner section end here*/

/*styling for agencies section start here*/
.agencies {
  padding: 65px 0 35px 0;
  background-color: #F7F7F7;
}

.agencies-article {
  padding:0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #EBEBEB;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.agencies-article figure {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.agencies-article img {
  max-width: 363px;
  max-height: 242px;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
}

.agencies-article img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.agencies-info {
  padding-left: 2.5%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.article-heading-a {
  color: #2A1B1B;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 25px;
  letter-spacing: 1px;
  transition: text-decoration 0.5s ease;
}

.article-heading-a:hover {
  text-decoration: underline;
}

.agencies-info p {
  margin: 5px 0; 
  color: #AAA2A8;
  font-size: 10px;
  line-height: 20px;
}

.article-info-a {
  padding: 10px 5%;
  margin: 20px 0;
  background-color: #FEAD00;
  border-radius: 3px;
  border: 2px solid #FEAD00;
  color: #403217;
  font-size: 10px;
  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.agencies-list {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}

.agencies-list li {
  -ms-flex-preferred-size: 30%;
  flex-basis: 28%;
}

.sub-article h5 {
  display: flex;
  align-items: flex-start;
} 

.article-subheading-a {
  width: 100%;
  color: #3B1B1A;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  transition: text-decoration 0.5s ease;
}

.article-subheading-a:hover {
  text-decoration: underline;
}

.sub-article p {
  padding-left: 20%;
  color: #AAA2A8;
  font-size: 10px;
  line-height: 20px;
} 

.agencies-list li h5::before {
  padding-right: 10%;
  content: "\f5f1";
  color: #FFC102;
  font-size: 20px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}
/*styling for agencies section end here*/

/*styling for blog section start here*/
.blog .wrapper {
  max-width: 100%;
  width: 100%;
}

h3 {
  padding-top: 3px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}

/*styling for blog list start here*/
.blog-list {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}

.blog-list li {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
}

.blog-article {
  width: 100%;
  height: 100%;
  display: flex;
}

.blog-article-img {
  width: 100%;
  height: 100%;
  flex-basis: 63%;
  order: 1;
}

.blog-article-img img {
  width: 100%;
  height: 100%;
}

.blog-info {
  padding: 30px 5%;
  background-color: #1B1F24;
  color: #FFF;
  flex-basis: 50%;
  order: 2;
}

.reverse-blog-img {
  order: 2;
}

.reverse-blog-info {
  order: 1;
}

.blog-date-a {
  color: #FEAD00;
  font-size: 9px;
}

.blog-heading-a {
  margin: 5px 0;
  font-size: 15px;
  font-weight: bold;
}
 
.blog-info p {
  font-size: 9px;
  line-height: 18px;
}
/*styling for blog list end here*/
/*styling for blog section end here*/

/*styling for testimonials section start here*/
.testimonials {
  padding: 80px 0;
  /* background-image: url("/assets/Images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.testimonial-banner {
  background-color: rgb(0, 0, 0, 0.5);
}

.testimonial-banner img {
  position: relative;
  z-index: -1;
}

.testimonials h3 {
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.testimonial-list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.testimonial-list li {
  padding: 40px;
  background-color: #FFF;
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}

.testimonial-list li p {
  font-size: 12px;
  color: #A9A19A;
  line-height: 17px;
}

.testimonial-list p span::before {
  padding-right: 5%;
  content: "\f10d";
  color: #DEDEDE;
  font-size: 20px;
  font-family: "Font Awesome 5 Solid";
}

.person-info {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.person-info figure {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.person-info figure img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.person-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}

.person-name :first-child {
  color: #452E55;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.person-name :last-child {
  margin-top: 3px;
  color: #B98F7E;
  font-size: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

/*styling for testimonials section end here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
/*upper footer styling start here*/
footer {
  background-color: #1B1B1B;
  color: #FFF;
}

.upper-footer {
  padding: 80px 0 60px 0;
  border-bottom: 1px solid #333;
}

.upper-footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.upper-footer .wrapper div {
  width: 33.33%;
}

.infinitude h4 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.infinitude p {
  margin-top: 20px;
  color: #787878;
  font-size: 13px;
  line-height: 20px;
}

.infinitude span {
  margin-top: 10px;
  display: inline-block;
  color: #787878;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.infinitude .yellow-span {
  color: #FCA800;
}

.uf-social-list {
  width: 50%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.uf-social-list li {
  position: relative;
}

.uf-social-list a {
  position: absolute;
  color: #FFF;
  text-indent: -999px;
}

.uf-social-list :first-child ::before {
  position: absolute;
  content: "\f39e";
  color: #FFF;
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 999px;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.uf-social-list :nth-child(2) ::before {
  position: absolute;
  content: "\f099";
  color: #FFF;
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 999px;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.uf-social-list :nth-child(3) ::before {
  position: absolute;
  content: "\f434";
  color: #FFF;
  font-size: 15px;
  font-family: "Font Awesome 5 Solid";
  text-indent: 999px;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.uf-social-list :nth-child(4) ::before {
  position: absolute;
  content: "\f0d2";
  color: #FFF;
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 999px;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.uf-social-list :last-child ::before {
  position: absolute;
  content: "\f0d5";
  color: #FFF;
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 999px;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.quick-links h5 {
  padding-left: 5%;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.upper-footer .wrapper :nth-child(2) div {
  width: 80%;
}

.quick-lists {
  padding-left: 5%;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.quick-lists ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 25px;
}

.quick-lists ul a {
  width: 100%;
  color: #787878;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
  -webkit-transition: color 0.7s ease 0.1s;
  -o-transition: color 0.7s ease 0.1s;
  transition: color 0.7s ease 0.1s;
}

.quick-lists ul a::before {
  content: "\f101";
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
}

.uf-contact-info h5 {
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.upper-footer .wrapper .uf-contact-info div {
  width: 100%;
  color: #787878;
  font-size: 12px;
}

.ci-address {
  margin-top: 30px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.phone a,
.tele-phone a,
.mail a {
  margin-top: 15px;
  color: #787878;
  -webkit-transition: color 0.7s ease 0.1s;
  -o-transition: color 0.7s ease 0.1s;
  transition: color 0.7s ease 0.1s;
}

.ci-address::before {
  padding-right: 1%;
  content: "\f3c5";
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
}

.phone::before {
  padding-right: 1%;
  content: "\f095";
  color: #787878;
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
  -webkit-transition: color 0.7s ease 0.1s;
  -o-transition: color 0.7s ease 0.1s;
  transition: color 0.7s ease 0.1s;
}

.tele-phone::before {
  padding-right: 1%;
  content: "\f67d";
  color: #787878;
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
  -webkit-transition: color 0.7s ease 0.1s;
  -o-transition: color 0.7s ease 0.1s;
  transition: color 0.7s ease 0.1s;
}

.mail::before {
  padding-right: 1%;
  content: "\f0e0";
  color: #787878;
  font-size: 13px;
  font-family: "Font Awesome 5 Solids";
  -webkit-transition: color 0.7s ease 0.1s;
  -o-transition: color 0.7s ease 0.1s;
  transition: color 0.7s ease 0.1s;
}

/*upper footer styling end here*/

/*lower footer styling start here*/
.lf-content {
  padding: 25px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #DDECE8;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lf-content p,
a {
  color: #DDECE8;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.lf-content a {
  position: absolute;
  text-indent: -9999px;
}

.lf-content a::before {
  position: absolute;
  content: "\f102";
  color: #DDECE8;
  font-size: 15px;
  font-family: "Font Awesome 5 Solid";
  text-indent: 9999px;
  -webkit-transition: color 0.7s ease 0.1s;
  -o-transition: color 0.7s ease 0.1s;
  transition: color 0.7s ease 0.1s;
}

/*lower footer styling end here*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 1280px start here*/
/* @media only screen and (max-width:1280px) {
  .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }

  .slider li {
    height: 100%;
  }

  .slider li img {
    width: 100%;
    height: 100%;
  }

  .agencies-info h4 {
    padding-top: 3px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .agencies-info p {
    margin-top: 5px;
    color: #96909B;
    font-size: 11px;
    line-height: 15px;
  }
} */

/*media query for 1280px end here*/

/*media query for 1210px start here*/
/* @media only screen and (max-width: 1210px) {

  .navlist li {
    margin-right: 5%;
    margin-left: 1%;
  }

  .slider {
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }

  .banner-content h2 {
    width: 100%;
    padding-top: 178px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 4px;
  }

  .banner-btns {
    width: 100%;
    padding-top: 40px;
    text-align: center;
  }

  .banner-btns a {
    padding: 10px 3%;
    margin: 0 1%;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
    -webkit-transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
  }
} */

/*media query for 1210px end here*/

/* media query for 1025px start here */
/* @media only screen and (max-width: 1025px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .agencies-info p {
    margin-top: 3px;
    color: #96909B;
    font-size: 11px;
    line-height: 15px;
  }

  .agencies-info a {
    margin-top: 5px;
    padding: 10px 5%;
    background-color: #FEAD00;
    border: 1px solid #FEAD00;
    border-radius: 4px;
    color: #2D451E;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    -webkit-transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
  }

  .blog-list li figure img {
    height: 100%;
  }
} */

/* media query for 1025px end here */

/* remove hover effet from mobile */
/* @media only screen and (min-width: 1024px) {
  .navlist :nth-child(3) a:hover::after {
    color: #D3930F;
  }

  .navlist :nth-child(3) :hover+.sub-page-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navlist li a:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid #D3930F;
    color: #D3930F;
  }

  .social-site-list :first-child:hover::before {
    color: #D3930F;
  }

  .social-site-list :nth-child(2):hover::before {
    color: #D3930F;
  }

  .social-site-list :last-child:hover::before {
    color: #D3930F;
  }

  .agencies-info a:hover {
    background-color: #FFF;
    border: 1px solid #FEAD00;
    color: #FEAD00;
  }

  .uf-social-list :first-child :hover::before {
    color: #FEAD00;
  }

  .uf-social-list :nth-child(2) :hover::before {
    color: #FEAD00;
  }

  .uf-social-list :nth-child(3) :hover::before {
    color: #FEAD00;
  }

  .uf-social-list :nth-child(4) :hover::before {
    color: #FEAD00;
  }

  .uf-social-list :last-child :hover::before {
    color: #FEAD00;
  }

  .quick-lists ul a:hover {
    color: #FEAD00;
  }

  .phone a:hover,
  .tele-phone a:hover,
  .mail a:hover {
    color: #FEAD00;
  }

  .phone:hover::before,
  .tele-phone:hover::before,
  .mail:hover::before {
    color: #FEAD00;
  }

  .lf-content a:hover::before {
    color: #FEAD00;
  }
} */

/*media query for 995px starts here*/
/* @media only screen and (max-width: 995px) { */
  /*styling for hamburger start here*/

  /* h1 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .hamburger {
    display: block;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    display: block;
    background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-indent: -9999px;
  }

  .hamburger:hover+nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header .wrapper {
    width: 59%;
    padding: 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border-bottom: 1px solid #686861;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  nav {
    width: 50%;
    height: 200px;
    background: #666;
    display: none;
    position: absolute;
    top: 63px;
    right: 13%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  } */

  /*styling for hamburger end here*/
  /* .navlist {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .navlist li {
    width: 100%;
    padding: 5px 0;
  }

  .navlist li a:hover {
    color: #FEAD00;
    border-bottom: 1px solid #FEAD00;
  }

  .navlist li a {
    width: 90%;
    padding: 7px;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-size: 9.4px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }

  .social-site-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .agencies-article {
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 2px solid #E6E6E6;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .agencies-article figure {
    text-align: center;
  }

  .agencies-info {
    margin-top: 15px;
  }

  .agencies-info p {
    margin-top: 10px;
    color: #96909B;
    font-size: 11px;
    line-height: 15px;
  }

  .agencies-info div {
    text-align: center;
  }

  .agencies-info a {
    margin-top: 15px;
    padding: 10px 5%;
    background-color: #FEAD00;
    border: 1px solid #FEAD00;
    border-radius: 4px;
    color: #2D451E;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    -webkit-transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
  }

  .agencies-list {
    padding-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .agencies-list li {
    width: 50%;
    margin: 20px;
  }

  .blog-list {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blog-list :nth-child(3) figure {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .blog-list :nth-child(3) div {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .blog-list :last-child figure {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .blog-list :last-child div {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .blog-info span {
    color: #FEAD00;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .blog-info h4 {
    padding-top: 15px;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .blog-info p {
    padding-top: 20px;
    color: #F7F7F9;
    font-size: 19px;
    line-height: 20px;
  }

  .testimonials>.wrapper {
    width: 75%;
  }

  .testimonial-list {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .testimonial-list li {
    width: 50%;
    padding: 40px;
    margin: 15px;
    background-color: #FFF;
  }

  .person-info {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .person-info figure {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    text-align: center;
  }

  .person-name {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }

  .upper-footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .upper-footer {
    padding: 0;
    border-bottom: 1px solid #333;
  }

  .upper-footer .wrapper div {
    width: 100%;
    margin: 25px 0;
  }

  .quick-lists {
    padding-left: 0;
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
} */